.Scll {
    scrollbar-3dlight-color:gold;
    scrollbar-arrow-color:blue;
    scrollbar-base-color: red;
    scrollbar-darkshadow-color:blue;
    scrollbar-face-color: red;
    scrollbar-highlight-color: red;
    scrollbar-shadow-color: red;
}